Repository inbrowser/inbrowser, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Delta93500, @Vivano, @AthonSc, @DataSaiyentist, @QuentinRa, @YouennEsnault

#2- Changed the directory
  statistics/statistics.js
Owners: @DataSaiyentist, @Vivano

Update iteration-0-template.md
  .scrum/iteration-0-template.md
Owners: none

feat: example of what I'm expecting
  dist/seo.bundle.js
  dist/seo.bundle.js.LICENSE.txt
  package-lock.json
  package.json
  seo/api.js
  seo/api.js.map
  seo/api.ts
  seo/tests.js
  tsconfig.json
  webpack.config.js
Owners: @QuentinRa

fix: fixing webpack (export to window)
  dist/seo.bundle.js
  webpack.config.js
Owners: none

feat: removing complicated things, KISS 🚀
  dist/matrix.bundle.js
  dist/seo.bundle.js
  dist/seo.bundle.js.LICENSE.txt
  matrix/api.js
  matrix/api.js.map
  matrix/api.ts
  matrix/tests.js
  matrix/utils/Matrix.js
  matrix/utils/Matrix.js.map
  matrix/utils/Matrix.ts
  seo/api.js
  seo/api.js.map
  seo/api.ts
  seo/tests.js
  webpack.config.js
Owners: @Delta93500, @QuentinRa

fix: improve comments/adding more cases
  dist/matrix.bundle.js
  matrix/api.js
  matrix/api.js.map
  matrix/api.ts
  matrix/tests.js
Owners: @Delta93500

fix: should be equals instead of notEqual
  matrix/tests.js
Owners: @Delta93500

feat: updating format for lu_factorization, updating tests and Contributing
  CONTRIBUTING.md
  matrix/api.ts
  matrix/tests.js
Owners: @Delta93500

feat: updating bundle + adding configurations
  .run/build.run.xml
  .run/tsc.run.xml
  dist/matrix.bundle.js
  matrix/api.js
  matrix/api.js.map
Owners: @Delta93500

fix: delete useless features
  statistics/statistics.js
Owners: @DataSaiyentist, @Vivano

feat: add a possible new implementation
  statistics/api.js
Owners: @DataSaiyentist, @Vivano

tests: add the tests related to /statistics
  statistics/tests.js
Owners: @DataSaiyentist, @Vivano

fix: helping a friend in need
  statistics/api.js
  statistics/api.js.map
  statistics/api.ts
  statistics/tests.js
Owners: @DataSaiyentist, @Vivano

docs/feat/tests:adding documentation/adding new functionalities/adding all tests
  statistics/api.js
  statistics/api.js.map
  statistics/api.ts
  statistics/tests.js
Owners: @DataSaiyentist, @Vivano

deps: updating bundles/package-lock.json
  dist/matrix.bundle.js
  dist/statistics.bundle.js
  package-lock.json
  webpack.config.js
Owners: none

ci: adding ci
  .github/workflows/node.js.yml
  package.json
Owners: none

docs: improving rules
  .scrum/ReleasePlan.md
  CONTRIBUTING.md
Owners: none

Ajout des calculs sur les nombres complexes
  algebra/Complex.js
  algebra/test.js
  package-lock.json
Owners: @Vivano, @AthonSc

feat: creation of the branch evaluate function for the task 3.1 and first version (not finished) of evaluate-function and its tests
  calculus/api.js
  calculus/api.js.map
  calculus/api.ts
  calculus/tests.js
Owners: none

feat: final implementation of evaluate_function and its tests
  calculus/api.js
  calculus/api.js.map
  calculus/api.ts
  calculus/tests.js
  package-lock.json
  package.json
Owners: none

feat: adding calculus
  dist/calculus.bundle.js
  dist/statistics.bundle.js.LICENSE.txt
  package-lock.json
  webpack.config.js
Owners: none

feat: Added API for Complex numbers
  algebra/api.ts
Owners: @Vivano, @AthonSc

feat: adding algebra
  algebra/Complex.js
  algebra/api.js
  algebra/api.js.map
  algebra/api.ts
  algebra/test.js
  calculus/api.js.map
  dist/algebra.bundle.js
  webpack.config.js
Owners: @Vivano, @AthonSc

fix: removing async
  algebra/test.js
  calculus/tests.js
Owners: @Vivano, @AthonSc

.github/CODEOWNERS:

#
# Edit with the files/folders you are owning
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
/matrix/ @Delta93500

/algebra/ @Vivano @AthonSc

/statistics/ @DataSaiyentist @Vivano

/seo/ @QuentinRa

/files_handlers/ @DataSaiyentist @YouennEsnault
